<div class="timesheet-container">
  <nz-card nzTitle="Timesheet">
    <div class="button-container">
      <button
        nz-button
        nzType="primary"
        (click)="newTimesheet()"
        [disabled]="disabedNewButton$ | async"
      >
        New</button
      >&nbsp;
      <button
        nz-button
        (click)="sumbitTimesheet()"
        nzType="primary"
        [disabled]="disabledSubmit$ | async"
      >
        Submit</button
      >&nbsp;
      <span>Selected {{ (setOfCheckedId$ | async).size }} rows</span>
    </div>
    <nz-table
      nzShowPagination
      nzShowSizeChanger
      [nzLoading]="loading$ | async"
      #basicTable
      [nzData]="listOfData$ | async"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th
            width="100px"
            [nzChecked]="allChecked$ | async"
            [nzIndeterminate]="indeterminate$ | async"
            (nzCheckedChange)="onAllChecked($event)"
            [nzDisabled]="disabledCheckAll$ | async"
          ></th>
          <th width="100px">State</th>
          <th width="200px">Date</th>
          <th>Title</th>
          <th width="200px">Type</th>
          <th width="250px">Duration</th>
          <th width="100px">Hourly Rate</th>
          <th width="100px">Total</th>
          <th width="200px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of basicTable.data"
          [class.tr-disabled]="!isTimesheetActive(data.state)"
        >
          <ng-container
            *ngIf="!(editCache$ | async)[data.id].edit; else editTemplate"
          >
            <td
              [nzChecked]="(setOfCheckedId$ | async).has(data.id)"
              [nzDisabled]="!isTimesheetActive(data.state)"
              (nzCheckedChange)="onItemChecked(data.id, $event)"
            ></td>
            <td>
              <span
                nz-typography
                [nzType]="!isTimesheetActive(data.state) ? 'success' : ''"
                >{{ data.state }}</span
              >
            </td>
            <td>{{ data.date }}</td>
            <td>{{ data.title }}</td>
            <td>{{ data.timesheetType }}</td>
            <td>{{ data.duration }}</td>
            <td>{{ data.hourlyRate }}</td>
            <td>{{ data.total }}</td>
            <td>
              <button
                nz-button
                nzType="default"
                nzShape="circle"
                (click)="startEdit(data.id)"
                [disabled]="!isTimesheetActive(data.state)"
              >
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </button>
              <nz-divider nzType="vertical"></nz-divider>
              <button
                nz-button
                nzType="default"
                nzShape="circle"
                nz-popconfirm
                nzPopconfirmTitle="Sure to delete?"
                (nzOnConfirm)="delete(data.id)"
                [disabled]="!isTimesheetActive(data.state)"
                nzDanger
              >
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>
            </td>
          </ng-container>
          <ng-template #editTemplate>
            <td
              [nzChecked]="(setOfCheckedId$ | async).has(data.id)"
              [nzDisabled]="
                !isTimesheetActive(data.state) ||
                (editCache$ | async)[data.id].edit
              "
              (nzCheckedChange)="onItemChecked(data.id, $event)"
            ></td>
            <td>
              <span
                nz-typography
                [nzType]="!isTimesheetActive(data.state) ? 'success' : ''"
                >{{ data.state }}</span
              >
            </td>
            <td>
              {{ data.date }}
            </td>
            <td>
              <input
                name="title"
                type="text"
                nz-input
                [ngModel]="(editCache$ | async)[data.id].data.title"
                (ngModelChange)="onEditModelChange({ title: $event }, data.id)"
              />
            </td>
            <td>
              <nz-select
                name="timesheetType"
                style="width: 100%"
                [ngModel]="(editCache$ | async)[data.id].data.timesheetType"
                (ngModelChange)="
                  onEditModelChange({ timesheetType: $event }, data.id)
                "
              >
                <nz-option
                  *ngFor="let option of typeOptions"
                  [nzValue]="option.value"
                  [nzLabel]="option.label"
                ></nz-option>
              </nz-select>
            </td>
            <td>
              <nz-select
                name="durationHours"
                style="width: 100px"
                [ngModel]="(editCache$ | async)[data.id].data.durationHours"
                (ngModelChange)="
                  onEditModelChange({ durationHours: $event }, data.id)
                "
                nzPlaceHolder="Hours"
              >
                <nz-option
                  *ngFor="let hour of hours; index as i"
                  [nzValue]="i + 1"
                  [nzLabel]="i + 1 + ' hr(s)'"
                ></nz-option>
              </nz-select>
              <nz-divider nzType="vertical"></nz-divider>
              <nz-select
                name="durationMinutes"
                style="width: 100px"
                nzPlaceHolder="Minutes"
                [ngModel]="(editCache$ | async)[data.id].data.durationMinutes"
                (ngModelChange)="
                  onEditModelChange({ durationMinutes: $event }, data.id)
                "
              >
                <nz-option
                  *ngFor="let hour of mins; index as i"
                  [nzValue]="i"
                  [nzLabel]="i + ' min(s)'"
                ></nz-option>
              </nz-select>
            </td>
            <td>
              <nz-input-number
                name="hourlyRate"
                [ngModel]="(editCache$ | async)[data.id].data.hourlyRate"
                (ngModelChange)="
                  onEditModelChange({ hourlyRate: $event }, data.id)
                "
                [nzMin]="1"
                [nzStep]="0.1"
              ></nz-input-number>
            </td>
            <td>{{ (editCache$ | async)[data.id].data.total }}</td>
            <td>
              <button
                nz-button
                nzType="primary"
                nzShape="circle"
                nz-popconfirm
                nzPopconfirmTitle="Sure to save?"
                (nzOnConfirm)="saveEdit(data.id)"
              >
                <i nz-icon nzType="save" nzTheme="outline"></i>
              </button>
              <nz-divider nzType="vertical"></nz-divider>
              <button
                nz-button
                nzType="default"
                nzShape="circle"
                nz-popconfirm
                nzPopconfirmTitle="Sure to cancel?"
                (nzOnConfirm)="cancelEdit(data.id)"
              >
                <i nz-icon nzType="rollback" nzTheme="outline"></i>
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
